.App {
  text-align: center;
}

h1 {
  text-align: left;
}

.text_field {
  min-width: 100%;
  min-height: 156px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;

}

.text_field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.text_field:focus{
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.9s all;
  color: black;
  font-size: xx-large;

}