.background {
  background-color: rgba(70, 155, 224,.9);
  transform: skewY(-12deg);
  height: 85%;
  width: auto;
}
.foreground {
  background-color: orange;
  transform: skewY(24deg);
  height: 100vh;
  width: auto;
}

.plaque {
  text-align: center;
  background-color: rgba(0, 70, 128, 0.99);
  transform: skewY(-12deg);
  margin: 0 5%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: .2em .2em .2em .2em  black;
}

h1 {
  margin: 0 0 2em 1em;
  text-align: left;
  color: rgb(70, 155, 224);
  font-size: x-large;
  text-shadow:  1px 1px 1px black;

}

#title {
  font-size: 200%;
  color: white;
  margin: 0;
  text-shadow: 1px 1px black;

}

span {
  text-align: right;
  color: white;
}

a{
margin: 2%;
}



hr {
  width: 80%;
}

/* text box */
.text_field {
  min-width: 80%;
  min-height: 156px;
  border-radius: 4px;
  border-color: white;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  color: white;
  font-size: x-large;
}

.text_field:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.text_field:focus{
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.9);
  transition: 0.9s all;
  color: white;
  font-size: xx-large;
  background-color: black;
}


/* submit button */
input {
background: black;
color: white;
height: 3vh;
width: 15vh;
margin: 5vh;
box-shadow:  .1em .1em .1em white;

}

input:hover {
  /* background-color: rgb(59, 175, 131); */
  color: white;
  background-color: orange;
  border-color: black;
  box-shadow: inset .1em .1em .1em black;
  font-weight: bolder;
  /* box-shadow: inline 0px 4px 20px 0px rgba(0, 0, 0, 0.05); */
  font-size: large;
}

input:focus{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.9s all;
  color: rgba(255, 255, 255, 0.9);
}