.App {
  text-align: center;
  background-color: rgba(0, 70, 128, 0.76);
  transform: skewY(12deg);

}

.background {
  background-color: rgba(216, 191, 216, 1);
  transform: skewY(-12deg);
  height: 100vh;
  width: auto;
}

h1 {
  margin: 2vh;
  text-align: left;
  color: white;
}

a{
margin-right: 1vh;}

span {

  color: white;
}

hr {
  width: 80%;
}

.text_field {
  min-width: 80%;
  min-height: 156px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  color: white;

}

.text_field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);


}

.text_field:focus{
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.9s all;
  color: black;
  font-size: xx-large;

}

input {
background: black;
color: white;
height: auto;
width: 15vh;
margin: 5vh
}

input:hover {
  background-color: rgb(59, 175, 131);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);


}

input:focus{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.9s all;
  color: rgba(255, 255, 255, 0.9);

}